*{
    margin: 0px;
    font-family: "roboto",sans-serif;
}
.header{
    height: 150px;
    display: flex;
    margin: 0;    
}
.img_logo{
    margin-left: 200px;
    margin-right: 100px;
    width: 150px;
    height: 120px;
}
.title_header{
    width: 800px;
    display: flex;
    margin-top: 30px;
    justify-content: start;
    
}
.title_p{
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.icon{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.search_ic{
    width: 25px;
    height: 25px;
    padding-top: 35px;
}
.header_line{
    background: #f1f1f1;
    height: 30px;
    cursor: pointer;
}